@use '../../../styles/config/variables';

.m-progressive-bar-btn {
  & {
    position: relative;
    
    display: block;
    overflow: hidden;
    width: variables.$circle-normal;
    height: variables.$circle-normal;

    line-height: 0;

    border-radius: 100%;
    border: 2px solid variables.$accent-color;
    background-color: variables.$primary-color;
    
    &:disabled {
      & {
        border-color: variables.$neutral-color-dark-gray;
        border-style: dashed;
      }

      & path {
        fill: variables.$neutral-color-dark-gray 
      }

      & .m-progressive-bar-btn__bar {
        background-color: variables.$progressive-bar-color;
      }

      &:active {
        & {
          border-color: variables.$error-color;
        }

        & path{
          fill: variables.$error-color;
        }
        & span {
          color: variables.$neutral-color-gray;
        }
        & div{
          background-color: variables.$progressive-bar-color;
        }
      }
    }

    &:active {
      & span {
        color: variables.$secondary-color;
      }
      & div {
        background-color: variables.$neutral-color-black;
      }
    }
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;

    width: 102%;
    height: 100%;

    background-color: variables.$accent-color;

    transition: transform .5s ease;
    transform: translateY(100%);
  }

  & svg {
    position: relative;
    width: variables.$size-24;
    height: variables.$size-24;
  }
}

@mixin ProgressiveBarBtnTablet {
  .m-progressive-bar-btn {
    width: variables.$circle-large;
    height: variables.$circle-large;
  }
}

@mixin ProgressiveBarBtnDesktop {
  .m-progressive-bar-btn {
    width: variables.$circle-large;
    height: variables.$circle-large;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}