@use '../../../styles/config/variables';

.m-progressive-bar-btn {
  & {
    position: relative;
    
    display: block;
    overflow: hidden;
    width: variables.$circle-small;
    height: variables.$circle-small;

    line-height: 0;

    border-radius: 100%;
    border: 2px solid var(--accent-color);
    background-color: var(--primary-color);
    
    &:disabled {
      & {
        border-color: var(--neutral-color-3);
        border-style: dashed;
      }

      & path {
        fill: var(--neutral-color-3);
      }

      & .m-progressive-bar-btn__bar {
        background-color: var(--progressive-bar-color);
      }

      &:active {
        & {
          border-color: var(--error-color);
        }

        & path{
          fill: var(--error-color);
        }
        & span {
          color: var(--neutral-color-2)
        }
        & div{
          background-color: var(--progressive-bar-color);
        }
      }
    }

    &:active {
      & span {
        color: var(--secondary-color);
      }
      & div {
        background-color: var(--neutral-color-1);
      }
    }
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;

    width: 102%;
    height: 100%;

    background-color: var(--accent-color);

    transition: transform .5s ease;
    transform: translateY(100%);
  }

  & svg {
    position: relative;
    width: variables.$size-24;
    height: variables.$size-24;
  }

  & path {
    fill: var(--secondary-color);
  }
}

@mixin ProgressiveBarBtnTablet {
  .m-progressive-bar-btn {
    & {
      width: variables.$circle-normal;
      height: variables.$circle-normal;
    }

    & svg {
      width: variables.$size-28;
      height: variables.$size-28;
    }
  }
}

@mixin ProgressiveBarBtnDesktop {
  .m-progressive-bar-btn {
    &{
      cursor: pointer;
      width: variables.$circle-large;
      height: variables.$circle-large;
    }

    & svg {
      width: variables.$size-32;
      height: variables.$size-32;
    }

    &:hover {
      & div {
        background-color: var(--neutral-color-1);
      }
    }

    &:active {
      & div {
        background-color: var(--accent-color);
      }
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}