$light-primary-color: #F0F0F0;
$light-secondary-color: #FFFFFF;
$light-neutral-color-black: #323232;
$light-neutral-color-gray: #7F7F7F;
$light-neutral-color-dark-gray: #6A6A6A;
$light-accent-color: #6441AB;

$light-error-color: #d24444;
$light-progressive-bar-color: #CAAFFF;


$dark-primary-color: #323739;
$dark-secondary-color: #323232;
$dark-neutral-color-white: #F1F1F1;
$dark-neutral-color-gray: #BEBEBE;
$dark-neutral-color-dark-gray: #B1B1B1;
$dark-accent-color: #CCB2FF;

$dark-error-color: #F99393;
$dark-progressive-bar-color: #d9c6ff;