$light-primary-color: #F0F0F0;
$light-secondary-color: #fdfbfb;
$light-neutral-color-black: #323232;
$light-neutral-color-gray: #7F7F7F;
$light-neutral-color-dark-gray: #6A6A6A;
$light-accent-color: #6441AB;

$light-error-color: #d24444;
$light-progressive-bar-color: #A980FF;


$dark-primary-color: #1F2528;
$dark-secondary-color: #2F3437;
$dark-neutral-color-white: #fbfbfe;
$dark-neutral-color-gray: #868686;
$dark-neutral-color-dark-gray: #9B9B9B;
$dark-accent-color: #AC85FF;

$dark-error-color: #F99393;
$dark-progressive-bar-color: #6441AB;