$primary-color: #F0F0F0;
$secondary-color: #FFFFFF;
$neutral-color-black: #323232;
$neutral-color-gray: #7F7F7F;
$neutral-color-dark-gray: #6A6A6A;
$accent-color: #6441AB;

$error-color: #DF6666;
$progressive-bar-color: #CAAFFF;