@use 'sass:math';
@use 'base-font-size' as bfs;

$size-4:  #{math.div(4,bfs.$size)+'rem'};
$size-8:  #{math.div(8,bfs.$size)+'rem'};
$size-12: #{math.div(12,bfs.$size)+'rem'};
$size-13: #{math.div(13,bfs.$size)+'rem'};
$size-16: #{math.div(16,bfs.$size)+'rem'};
$size-18: #{math.div(18,bfs.$size)+'rem'};
$size-24: #{math.div(24,bfs.$size)+'rem'};
$size-28: #{math.div(28,bfs.$size)+'rem'};
$size-32: #{math.div(32,bfs.$size)+'rem'};
$size-40: #{math.div(40,bfs.$size)+'rem'};
$size-48: #{math.div(48,bfs.$size)+'rem'};
$size-52: #{math.div(52,bfs.$size)+'rem'};
$size-58: #{math.div(58,bfs.$size)+'rem'};
$size-64: #{math.div(64,bfs.$size)+'rem'};
$size-80: #{math.div(80,bfs.$size)+'rem'};
$size-88: #{math.div(88,bfs.$size)+'rem'};
$size-102: #{math.div(102,bfs.$size)+'rem'};
$size-128: #{math.div(128,bfs.$size)+'rem'};
$size-152: #{math.div(152,bfs.$size)+'rem'};

$radius-4: #{math.div(4,bfs.$size)+'rem'};
$radius-8: #{math.div(8,bfs.$size)+'rem'};
$radius-32: #{math.div(22,bfs.$size)+'rem'};
$radius-112: #{math.div(112,bfs.$size)+'rem'};

$circle-small: $size-64;
$circle-normal: $size-80;
$circle-large: $size-102;