@use '../../../styles/config/variables';

.t-default-layout {
  display: flex;

  height: 100vh;

  justify-content: center;
  align-items: center;

  padding: variables.$size-16;
}

@mixin DefaultLayoutTablet {
  .t-default-layout {
    padding: variables.$size-32;
  }
}