@use '../../../styles/config/variables';

.a-label {
  font-size: variables.$fs-12;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--neutral-color-3);
}

@mixin LabelTablet {
  .a-label {
    font-size: variables.$fs-16;
  }
}