@use '../config/variables';

.u-border-color-violet {
  border-color: var(--accent-color);
}

.u-border-color-red {
  border-color: var(--error-color);
}

.u-border-color-gray {
  border-color: var(neutral-color-2);
}