@use '../config/colors' as *;

.light {
  --primary-color:   #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --neutral-color-1: #{$light-neutral-color-black};
  --neutral-color-2: #{$light-neutral-color-gray};
  --neutral-color-3: #{$light-neutral-color-dark-gray};
  --accent-color:    #{$light-accent-color};
  --error-color:     #{$light-error-color};
  --progressive-bar-color: #{$light-progressive-bar-color};
  --background-body: #{$light-primary-color};
  --box-shadow-app: 18px 18px 19px 0px #D6D6D6;
}

.dark {
  --primary-color:   #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --neutral-color-1: #{$dark-neutral-color-white};
  --neutral-color-2: #{$dark-neutral-color-gray};
  --neutral-color-3: #{$dark-neutral-color-dark-gray};
  --accent-color:    #{$dark-accent-color};
  --error-color:     #{$dark-error-color};
  --progressive-bar-color: #{$dark-progressive-bar-color};
  --background-body: #{$dark-primary-color};
  --box-shadow-app: 18px 18px 18px 0px rgba(27, 26, 28, 0.25);
}
