@use '../../../styles/config/variables';

.t-container-calculate-age {
  display: flex;
  flex-direction: column;
  gap: variables.$size-16;
  
  width: 343px;
  padding: variables.$size-48 variables.$size-24;

  background-color: variables.$secondary-color;
  border-radius: variables.$radius-32;
  border-bottom-right-radius: variables.$radius-112;
}

@mixin ContainerCalculateAgeTablet {
  .t-container-calculate-age {
    width: 704px;
    padding: variables.$size-52 variables.$size-48;
    gap: variables.$size-64;
  }
}