@use '../../../styles/config/variables';

.a-input {
  & {
    display: inline-block;
    width: 100%;
    padding: variables.$size-8 variables.$size-12;

    color: var(--neutral-color-1);
    font-size: variables.$fs-20;
    text-transform: capitalize;
    line-height: 30px;
    
    &::placeholder {
      color: var(--neutral-color-2);
    }
  }

  &--with-border {
    @extend .a-input;
    border: 2px solid var(--neutral-color-2);
    border-radius: 4px;
    line-height: 30px;

    &:focus {
      border-color: var(--accent-color);
    }

    &:invalid {
      border-color: var(--error-color);
    }
  }
}

@mixin InputTablet {
  .a-input {
    font-size: variables.$fs-28;
    padding-inline: variables.$size-16;
    line-height: 42px;

    &--with-border {
      font-size: variables.$fs-28;
      padding-inline: variables.$size-16;
      line-height: 42px;
    }
  }
}

@mixin InputDesktop {
  .a-input {
    font-size: variables.$fs-32;
    padding: variables.$size-12 variables.$size-18;
    line-height: 48px;

    &--with-border {
      font-size: variables.$fs-32;
      padding: variables.$size-12 variables.$size-18;
      line-height: 48px;
    }
  }
}
