@use '../../../styles/config/variables';

.a-btn {
  & {
    padding: variables.$size-12 variables.$size-32;

    font-size: variables.$fs-20;

    background-color: var(--secondary-color);
    border-radius: variables.$radius-8;
    border: 2px solid var(--accent-color);

    &:active {
      color: var(--secondary-color);

      background-color: var(--neutral-color-1);
      border-color: var(--neutral-color-1);
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;
    padding: 0;

    line-height: 0;

    border-radius: variables.$radius-4;
    background-color: var(--neutral-color-2);

    & svg{
      width: 45%;
      height: auto;
    }

    & path {
      fill: var(--secondary-color)
    }
  }
}

@mixin ButtonTablet {
  .a-btn {
    &--icon {
      width: 25px;
      height: 25px; 
    }
  }
}

@mixin ButtonDesktop {
  .a-btn {
    &:hover {
      cursor: pointer;
    }
    
    &--icon:hover {
      cursor: pointer;
    }
  }
}