@use '@/components/atoms/responsive' as *;
@use '@/components/molecules/responsive' as *;
@use '@/components/organisms/responsive' as *;
@use '@/components/templates/responsive' as *;

@media screen and (min-width: 1440px) {
  // Atoms
  @include SpanDesktop;
  // Molecules
  @include ProgressiveBarBtnDesktop;
  // Templates
  @include ContainerCalculateAgeDesktop;
}