@use '@/components/atoms/responsive' as *;
@use '@/components/molecules/responsive' as *;
@use '@/components/organisms/responsive' as *;
@use '@/components/templates/responsive' as *;

@media screen and (min-width: 704px) {
  // Atoms
  @include FieldTablet;
  @include SpanTablet;
  @include InputTablet;
  @include ButtonTablet;
  @include LabelTablet;
  //Molecules
  @include ProgressiveBarBtnTablet;
  @include InputGroupBtnTablet;
  // Templates
  @include ContainerCalculateAgeTablet;
  @include FormTablet;
  @include DefaultLayoutTablet;
  @include ChangeThemeTablet;
}