@use '../../../styles/config/variables';

.t-form {
  & {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: variables.$size-24;
  }

  &::after {
    content: "";
    
    position: absolute;
    bottom: calc(variables.$circle-normal / 2);
    left: 0;
    z-index: variables.$z-1;

    width: 100%;
    height: 2px;
    
    background-color: variables.$neutral-color-gray;
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: variables.$size-16;
  }

  & button {
    position: relative;
    z-index: variables.$z-2;

    margin-inline: auto;
  }

  & .o-field:nth-child(2) .a-popup{
    justify-content: center;
  }

  & .o-field:nth-child(3) .a-popup {
    justify-content: end;
  }
}

@mixin FormTablet {
  .t-form { 
    &__fields { 
      width: 0;
    }
  }
}