@use '../../../styles/config/variables';

.m-input-group-btn {
  & {
    position: relative;

    border: 2px solid var(--neutral-color-2);
    border-radius: variables.$radius-4;
  }

  & .a-btn--icon {
    position: absolute;
    right: 10px;
    top: 14px 
  }

  &:focus-within {
    border-color: var(--accent-color);
  }
}

@mixin InputGroupBtnTablet {
  .m-input-group-btn {
    & .a-btn--icon {
      right: 14px;
      top: 17px 
    }
  }
}

@mixin InputGroupBtnDesktop {
  .m-input-group-btn {
    & .a-btn--icon {
      right: 16px;
      top: 24px; 
    }
  }
}